<!DOCTYPE html>
<html>
<head>
    <title>BIG WET RECORDS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/normalize.css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/gridism/gridism.css"}}">
</head>
<body>
    <div class="main">
        <div class="cover-photo" style="background-image: url(http://i.imgur.com/OPRGF4x.jpg);"></div>
        <!-- <header class="main-header post-head" style="background-image: url(http://i.imgur.com/OPRGF4x.jpg)"> -->
            <nav class="main-nav overlay clearfix">
                <a class="back-button icon-arrow-left" href="/">Home</a>
            </nav>
        </header>
        <div class="unit content-header">
            <h1>ABOUT</h1>
        </div>
            <div class="about">
                <p>We are a small group of friends that are making music. You down?</p>
            <div style="padding:30px;">
                <p><i>Look, drink, tick, explore. I breath in and cough. The air is dry and cracks my leathered lungs; Iamold, indeed I am the first of the old ash. Kneel with me, come listen to my mind. It must talk to warm Thefield. But do not listen closely, only enough to keep me here for a little time longer. It is your turn. You must learn to breath through your own body. Iamold. Yes, we are built from your first grasps at understandi- understa-- excuse me. Look back and begin.</i></p>
            </div>
                <p>-The Elk</p>
            </div>
        </div>
    </div>
</body>
</html>
