<!DOCTYPE html>
<html>
<head>
    <title>BIG WET RECORDS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/frontpage.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/normalize.css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/gridism/gridism.css"}}">
</head>
<body>
    <div class="main wrap">
        <h1>THE BIG WET RECORDS</h1>
        <img class="logo" src="http://i.imgur.com/fKJK0Zx.jpg">
        <div class="grid">
            <offset class="unit one-fifth"></offset>
            <a class="unit one-fifth" href="/music">MUSIC</a>
            <a class="unit one-fifth" href="/about">ABOUT</a>
            <a class="unit one-fifth" href="/blog">BLOG</a>
        </div>
        <br>
        <div class="grid">
            <offset class="unit one-fifth"></offset>
            <a class="unit one-fifth icon-twitter" href="https://twitter.com/bigwetrecords"></a>
            <a class="unit one-fifth icon-facebook" href="https://www.facebook.com/bigwetrecords"></a>
            <a class="unit one-fifth" href="https://soundcloud.com"><img class="soundcloud" src="http://i.imgur.com/z7TJ64r.png"></a>
        </div>
    </div>
</body>
</html>
