<!DOCTYPE html>
<html>
<head>
    <title>BIG WET RECORDS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/frontpage.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/gridism/gridism.css"}}">
</head>
<body>
    <div class="main wrap">
        <h1>THE BIG WET<h1>
        <h1 class="fade-out" id="records">RECORDS</h1>
        <div>
           <h2 class="fade-in" id="watching">IS WATCHING</h2>
           <h2 class="fade-in" id="tv">TV</h2>
        </div>
        <img class="logo fade-in" src="http://i.imgur.com/fKJK0Zx.jpg">
        <div class="grid">
            <offset class="unit one-fifth"></offset>
            <a class="unit one-fifth" href="/music">MUSIC</a>
            <a class="unit one-fifth" href="/about">ABOUT</a>
            <a class="unit one-fifth" href="/blog">BLOG</a>
        </div>
        <br>
        <div class="grid">
            <offset class="unit one-fifth"></offset>
            <a class="unit one-fifth icon-twitter" href="https://twitter.com/bigwetrecords"></a>
            <a class="unit one-fifth icon-facebook" href="https://www.facebook.com/bigwetrecords"></a>
            <a class="unit one-fifth" href="https://soundcloud.com/big-wet-records"><img class="soundcloud" src="http://i.imgur.com/z7TJ64r.png"></a>
        </div>
    </div>
</body>
<script type="text/javascript">
    var fade_ins = document.querySelectorAll('.fade-in');
    var fade_outs = document.querySelectorAll('.fade-out');

    var pfx = ["webkit", "moz", "MS", "o", ""];
    function prefixedEventListener(element, type, callback) {
        for (var p = 0; p < pfx.length; p++) {
            if (!pfx[p]) {
                type = type.toLowerCase();
            }

            element.addEventListener(pfx[p]+type, callback, false);
        }
    }

    [].forEach.call(fade_ins, function(e) {
        prefixedEventListener(e,"AnimationEnd",function(e){
            console.log('in');
            e.target.className = 'opaque ' + e.target.className;
        });
    });

    [].forEach.call(fade_outs, function(e) {
        prefixedEventListener(e,"AnimationEnd",function(e){
            console.log('out');
            e.target.className = 'transparent ' + e.target.className;
        });
    });

</script>
</html>
