<!DOCTYPE html>
<html>
<head>
    <title>BIG WET RECORDS</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "css/screen.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/normalize.css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/gridism/gridism.css"}}">
    <style type="text/css">
    @-webkit-keyframes fade-in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    #two {
        -webkit-animation: fade-in 6s;
        z-index: 1;
    }

    #three {
        opacity: 0;
        -webkit-animation: fade-in 6s;
        -webkit-animation-delay: 10s;
        z-index: 2;
    }
    #four {
        opacity: 0;
        -webkit-animation: fade-in 6s;
        -webkit-animation-delay: 8s;
        z-index: 3;
    }
    #five {
        opacity: 0;
        -webkit-animation: fade-in 6s;
        -webkit-animation-delay: 13s;
        z-index: 4;
    }
    #six {
        opacity: 0;
        -webkit-animation: fade-in 6s;
        -webkit-animation-delay: 28s;
        z-index: 5;
    }

    #seven {
        opacity: 0;
        -webkit-animation: fade-in 6s;
        -webkit-animation-delay: 19s;
        z-index: 6;
    }

    #eight {
        opacity: 0;
        -webkit-animation: fade-in 6s;
        -webkit-animation-delay: 6s;
        z-index: 7;
    }

    #nine {
        opacity: 0;
        -webkit-animation: fade-in 6s;
        -webkit-animation-delay: 2s;
        z-index: 8;
    }


    .content-header {
        position: relative;
        z-index: 10;
    }

    .anim-image {
        height: 50%;
        min-height: 300px;
        margin-left: auto;
        margin-right: auto;
        position:absolute;
        left:0;
        right:0;
        top: -10%;
    }
    .opaque {
        opacity: 1 !important;
    }
    .aspect {
        width: 100%;
        padding-bottom: 56%;
        position: relative;
        margin-bottom: 3em;
    }

    </style>
</head>
<body>
    <div class="main">
        <header class="cover-photo"></header>
        <img id="one" class="anim-image" src="http://i.imgur.com/iyTDyfW.png">
        <img id="two" class="anim-image fade-in" src="http://i.imgur.com/KGuDIUF.png">
        <img id="three" class="anim-image fade-in" src="http://i.imgur.com/vCefmZL.png">
        <img id="four" class="anim-image fade-in" src="http://i.imgur.com/ZwbjXde.png">
        <img id="five" class="anim-image fade-in" src="http://i.imgur.com/b1OoePH.png">
        <img id="six" class="anim-image fade-in" src="http://i.imgur.com/zKEkGRW.png">
        <img id="seven" class="anim-image fade-in" src="http://i.imgur.com/eBNwrIh.png">
        <img id="eight" class="anim-image fade-in" src="http://i.imgur.com/IMgENb2.png">
        <img id="nine" class="anim-image fade-in" src="http://i.imgur.com/50Fb3tA.png">

        <nav class="main-nav overlay clearfix">
            <a class="back-button icon-arrow-left" href="/">Home</a>
        </nav>

        <div class="unit content-header">
            <h1>MUSIC</h1>
        </div>
        <div class="grid page">
            <div class="unit one-fifth artists-bar">
                <h2>ARTISTS</h2>
                <div class="artist">
                    <div class="artist-title" href="/music/dat-mango">
                        <a href="/music/dat-mango">
                            <p>DAT MANGO</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/iceface">
                        <a href="/music/iceface">
                            <p>ICEFACE</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/johann">
                        <a href="/music/johann">
                            <p>JOHANN</p>
                        </a>
                    </div>
                </div>
                <div class="artist" href="/linus">
                    <div class="artist-title">
                        <a href="/music/linus">
                            <p>L I N U S</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/martin">
                        <a href="/music/martin">
                            <p>MARTIN</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/micky-hardaway">
                        <a href="/music/micky-hardaway">
                            <p>MICKY HARDAWAY</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/notya">
                        <a href="/music/notya">
                            <p>NOTYA</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/sherman-lurch">
                        <a href="/music/sherman-lurch">
                            <p>SHERMAN LURCH</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/some-mirror">
                        <a href="/music/some-mirror">
                            <p>SOME MIRROR</p>
                        </a>
                    </div>
                </div>
                <div class="artist">
                    <div class="artist-title" href="/music/tendrillar">
                        <a href="/music/tendrillar">
                            <p>TENDRILLAR</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="unit content">

                <div class="content-package">
                    <div class="content-title"><p>SHERMAN LURCH - GOONEY LUNES</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/119147282&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>TENDRILLAR - TENDRILLAR EP</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/85697681&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>MICKY HARDAWAY - FIFTH QUARTER</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/69523250&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <!-- <div class="content-package">
                    <div class="content-title"><p>SOME MIRROR - DRESS THE SAME EVERY DAY</p></div>
                    <iframe style="border: 0; width: 350px; height: 786px;" src="https://bandcamp.com/EmbeddedPlayer/album=1136335697/size=large/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://limes.bandcamp.com/album/dress-the-same-every-day">Dress The Same Every Day by Some Mirror</a></iframe>
                </div> -->


                <div class="content-package">
                    <div class="content-title"><p>L I N U S - GO TO YOUR <a href="https://twitter.com/TeeeFag">#ROOM</a> <a href="http://www.drewmadestuff.com/Portfolio/drewmadestuff.html">FEAT. DREWMADESTUFF</a></p></div>
                    <div class="aspect">
                        <iframe width="100%" height="100%" style="margin: 1.5em auto; position:absolute; top: 0; left: 0; right:0; bottom:0" src="https://www.youtube.com/embed/MbzuJFW7PVo?list=PL13zo5IR2PJrL78zPO8hCxZUoXXdGpf9q" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>L I N U S - GO TO YOUR <a href="https://twitter.com/TeeeFag">#ROOM</a></p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/76928698&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>L I N U S - THE SECRET WORLD</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/57170606&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>JOHANN - BLAST</p></div>
                    <div class="aspect">
                        <iframe width="100%" height="100%" style="margin: 1.5em auto; position:absolute; top: 0; left: 0; right:0; bottom:0" src="https://www.youtube.com/embed/WBkdeOU5WO4" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>NOTYA - WHATS REALLY REAL</p></div>
                     <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/96968990&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>JOHANN - AVERAGE</p></div>
                    <div class="aspect">
                        <iframe width="100%" height="100%" style="margin: 1.5em auto; position:absolute; top: 0; left: 0; right:0; bottom:0" src="https://www.youtube.com/embed/eDUZzLVGiqw" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>L I N U S - BOOSTER PACK 1</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/14504033&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>NOTYA - BANANA IN THE BASEMENT</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/100923761&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>JOHANN - TURN IT DOWN</p></div>
                    <div class="aspect">
                    <iframe width="100%" height="100%" style="margin: 1.5em auto; position:absolute; top: 0; left: 0; right:0; bottom:0" src="https://www.youtube.com/embed/3V1Tx8LPqyM" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>DAT MANGO - SUBURBAN BRAVE</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/73696760&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>ICEFACE - RED MOON OVER LAKE MICHIGAN</p></div>
                    <div class="aspect">
                    <iframe width="100%" height="100%" style="margin: 1.5em auto; position:absolute; top: 0; left: 0; right:0; bottom:0" src="https://www.youtube.com/embed/05bZx_Yv78w" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>JOHANN - SELF</p></div>
                    <div class="aspect">
                        <iframe width="100%" height="100%" style="margin: 1.5em auto; position:absolute; top: 0; left: 0; right:0; bottom:0" src="https://www.youtube.com/embed/7RhrDUihr4U" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>MARTIN - DRUG FREE SINCE `93</p></div>
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/5039443&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
                </div>

                <div class="content-package">
                    <div class="content-title"><p>JOHANN - COLD</p></div>
                    <div class="aspect">
                        <iframe width="100%" height="100%" style="margin: 1.5em auto; position:absolute; top: 0; left: 0; right:0; bottom:0" src="https://www.youtube.com/embed/clqxj_bxUY0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>
<script type="text/javascript">
    var fade_ins = document.querySelectorAll('.fade-in');
    var pfx = ["webkit", "moz", "MS", "o", ""];

    function prefixedEventListener(element, type, callback) {
        for (var p = 0; p < pfx.length; p++) {
            if (!pfx[p]) {
                type = type.toLowerCase();
            }

            element.addEventListener(pfx[p]+type, callback, false);
        }
    }

    [].forEach.call(fade_ins, function(e) {
        prefixedEventListener(e,"AnimationEnd",function(e){
            console.log('in');
            e.target.className = 'opaque ' + e.target.className;
        });
    });

</script>
</html>
