.main {
    text-align: center;
    height: 40%;
    min-height: 250px;
    width: 100%;
    background: transparent;
}

.content {
    max-width: 60%;
    margin: 0 auto;
    margin-left: 5px;
    /*border: 5px solid black;*/
}

.artist {
    margin-bottom: 5px;
    width: 100%;
    /*border: 5px solid black;*/
}

.artists-bar h2 {
    width: 100%;
    margin-bottom: 5px;
    /*border: 5px solid black;*/
}

.content-header {
    margin-top: -40px;
    border: 5px solid black;
    max-width: 50%;
    /*margin: 0 auto;*/
    margin-bottom: 5px;
    margin-left: 25%;
    background: white;


}
/*This is pretty hacked here we should do this better if we keep it. I wanted a border of 5 px around
each "package" and this stuff worked.*/
.content-package {
    margin-bottom: 2em;
    margin-left: -5px;
    margin-top: -5px;
    margin-right: -15px;
    padding: 5px;
}


.artist-title {
    margin: 5px;
    padding-top: 0px;
    padding-bottom: -5px;
    height: 30px;
    font-size: 1em;
    font-weight: bold;
    font-family: sans-serif;
}

.content-title {
    margin: 0px;
    padding-top: 0px;
    padding-bottom: -31px;
    height: 30px;
    font-size: 1.4em;
    font-weight: bold;
    font-family: sans-serif;
}

a:link {
    text-decoration: none;
}

.about {
    margin: 0 auto;
    border: 5px solid black;
    width: 60%;
}

.cover-photo {
    height: 40%;
    min-height: 300px;
    width: 100%;
    background: black;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}
