<!DOCTYPE html>
<html>
<head>
    <title>BIG WET RECORDS</title>
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/artist.css">
</head>
<body>
    <nav>
        <a href="/" class="back-arrow"><i class="fa fa-chevron-left"></i> HOME</a href="/home">
        <a href="/music" class="back-arrow"><i class="fa fa-chevron-left"></i> MUSIC</a href="/home">
    </nav>
    <div class="cover-photo" style="background-image: url(http://i.imgur.com/6fH78hr.png);"></div>
    <div class="main">
        <div class="artist-header">
            <img class="logo" src="http://i.imgur.com/Ic2sFXM.png">
            <span class="artist-name">ICEFACE</span>
        </div>
        <div class="content">
            <div class="content-header">
                <h1>CUBES</h1>
            </div>
<!--             <div class="content-title"><h2>RED MOON OVER LAKE MICHIGAN</h2></div> -->
            <iframe width="560" height="315" src="https://www.youtube.com/embed/05bZx_Yv78w" frameborder="0" allowfullscreen></iframe>
    
        </div>
    </div>
</body>
</html>