<!DOCTYPE html>
<html>
<head>
    <title>BIG WET RECORDS</title>
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/artist.css">
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/normalize.css/normalize.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "bower_components/gridism/gridism.css"}}">
</head>
<body>
    <nav>
        <a href="/" class="black-back-arrow"><i class="fa fa-chevron-left"></i> HOME</a href="/home">
        <a href="/music" class="black-back-arrow"><i class="fa fa-chevron-left"></i> MUSIC</a href="/home">
    </nav>
    <div class="cover-photo" style="background-image: url(http://i.imgur.com/ei611nP.jpg);"></div>
     
        <div class="main">
            <div class="artist-header">
                <img class="logo" src="http://i.imgur.com/DzDDzrj.jpg">
                <!-- <span class="artist-name">T-WREKS</span> -->
                <img class="banner-image" src="http://i.imgur.com/xRMyWBq.jpg">
            </div>
            <div class="content">
                <div class="content-header">
                    <h1></h1>
                </div>    
                <div class="content-package">
                    <iframe width="100%" height="450" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/142647882&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
                </div>

                <div class="content-package">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/iSc2g91QcoA" frameborder="0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
</body>
</html>
