<!DOCTYPE html>
<html>
<head>
    <title>BIG WET RECORDS</title>
    <link rel="stylesheet" type="text/css" href="/assets/bower_components/normalize.css/normalize.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/artist.css">
</head>
<body>
    <nav>
        <a href="/" class="back-arrow"><i class="fa fa-chevron-left"></i> HOME</a href="/home">
        <a href="/music" class="back-arrow"><i class="fa fa-chevron-left"></i> MUSIC</a href="/home">
    </nav>
    <div class="cover-photo" style="background-image: url(http://i.imgur.com/XTfqmAN.png);"></div>
    <div class="main">
        <div class="artist-header">
            <img class="logo" src="http://i.imgur.com/2NrFFYg.png">
            <span class="artist-name">THE ISLAND</span>
        </div>
        <div class="content">
            <div class="content-header">
                <h1></h1>
            </div>
            <div style="margin-left: 10px: padding-top: 30px">
                <iframe style="border: 0; width: 90%; height: 472px;" src="http://bandcamp.com/EmbeddedPlayer/album=3974536074/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://theislandband.bandcamp.com/album/ideas-of-march">Ideas of March by The Island</a></iframe>
            </div>
            <div class="content-package">
                <iframe style="border: 0; width: 90%; height: 472px;" src="http://bandcamp.com/EmbeddedPlayer/album=1136335697/size=large/bgcol=ffffff/linkcol=0687f5/artwork=small/transparent=true/" seamless><a href="http://limes.bandcamp.com/album/dress-the-same-every-day">Dress The Same Every Day by Some Mirror</a></iframe>
            </div>
        </div>
    </div>
</body>
</html>